body
	padding-top 0px

form
	btn
		btn-succes
			padding 20px

.form-group
	.error
		color #CF000F
		padding-top 5px
		
.titleWrapper
	padding 30px 0px
	text-align center 
		
.thumbnail
	img
		padding 30px 30px 0px

#results
	padding 30px