.footer
	.container
		hr
		p.text-center Developed by 
			a(href="htttp://twitter.com/jacodom" target="_blank")
				@jacodom
		p.text-center
			a.fa.fa-github.fa-2x(href="http://github.com/Jacodom/finalCursoNodejs")