extends layout

block content
	include ./navBarAdmin.jade
	.jumbotron
		.container
			.titleWrapper
				.text-center
					h1 Welcome #{user.name}!
					hr
					h2 
						|Choose an option from the #[span.label.label-default navbar] at the top of the page. 
